body {

    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-card{
  overflow: hidden;
  transition: all .2s; 
}

.my-card .my-card-image{
  transition: all .2s; 
}

.my-card-image-container{
  overflow: hidden;
}

.my-card:hover{
  transition: all .2s ease-in-out; 
  transform: scale(1.005);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-color: gray;
  overflow: hidden;
}

.my-card:hover .my-card-image{
  transition: all .2s ease-in-out; 
  transform: scale(1.01);
}


